<p><%= link_to 'Back to Lists', articles_path %></p>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p><%= link_to "Edit", edit_article_path(@article) %></p>

<p>
    <%= link_to "Destroy", article_path(@article), data: { 
        turbo_method: :delete,
        turbo_confirm: 'Are you sure to delete this article?'
    } %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
