<!DOCTYPE html>
<html>
  <head>
    <title>Rails72Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
      <% unless params[:controller] == "pages" && %w[messages comments].include?(params[:action]) %>
        <div style="display: inline-flex;"><%= current_user.email %> |  <%= button_to("Log Out", destroy_user_session_path, method: :delete) %></div>

        <%= link_to "ToDo", todos_path %>

        <%= link_to "Articles", articles_path %>

        <%= link_to "SlideShow", "/pages/slideshow"  %>
        <%= link_to "CopyPin", "/pages/copy_pin" %>
        <%= link_to "ContentLoader", "/pages/content_loader" %>
      <% end %>
    <% else %>
      <%= link_to "Sigin", user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
